@import "compass/css3/border-radius"

.ace-editor
  height: 20em
  margin-top: 20px


.uploadbutton
  background-color: #007a96
  padding: 12px 26px
  border-radius: 2px
  cursor: pointer
  display: inline-block
  a
    color: #fff
    font-size: 14px
    line-height: 1
    text-align: center
    font-weight: bold
  &:hover
    background-color: #0986a3
    color: white

.feedback
  .icon-ok
    color: #468847
  .accordion-group
    margin: -1px
    @include border-radius(0px)