/*----------------------------
 *    The file upload form
 *-----------------------------
 */

#file-upload
  border-radius: 5px
  margin: 0 auto
  width: 100%

#drop
  background-color: #fff
  padding: 20px 0
  border: 2px dashed #ddd
  border-radius: 3px
  text-align: center
  font-size: 16px
  font-weight: bold
  color: #ddd
  &:hover, &.active
    border: 2px dashed #08c
    color: #08c
  a
    background-color: #007a96
    padding: 12px 26px
    color: #fff
    font-size: 14px
    border-radius: 2px
    cursor: pointer
    display: inline-block
    margin-top: 12px
    line-height: 1
    &:hover
      background-color: #0986a3
  input
    display: none