<div class="row-fluid">
  <div class="span12">
    <ace-editor language="python" model="code">
print("Hello world")
    </ace-editor>
    <select data-ng-model="selectedTask"
      data-ng-options="task.name group by 'Peatükk '+task.unit for task in tasks">
      <option value="" disabled selected style="display:none">
        Vali ülesanne
      </option>           
    </select>
    <a class="uploadbutton pull-right" ng-click="postSolution()">
      Saa tagasiside
    </a>
    <div class="feedback container" ng-show="feedback">
      <hr>
      <h2>Tagasiside</h2>
      <accordion>
        <accordion-group ng-repeat="result in feedback">
          <accordion-heading class="alert-success">
            <i class="icon-ok check-mark" ng-show="result.success"></i>
            {{ result.description }} 
            <span class="pull-right"><i class="icon-time"></i> {{ result.time }}s</span>
          </accordion-heading>
          <p ng-show="result.success">Tubli töö!</p>
          <pre ng-hide="result.success">{{ result.trace }}</pre>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>
