/*----------------------------
 *    The file upload form
 *-----------------------------
 */
/* line 6, ../main.sass */
#file-upload {
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
}

/* line 11, ../main.sass */
#drop {
  background-color: white;
  padding: 20px 0;
  border: 2px dashed #dddddd;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #dddddd;
}
/* line 20, ../main.sass */
#drop:hover, #drop.active {
  border: 2px dashed #0088cc;
  color: #0088cc;
}
/* line 23, ../main.sass */
#drop a {
  background-color: #007a96;
  padding: 12px 26px;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-top: 12px;
  line-height: 1;
}
/* line 33, ../main.sass */
#drop a:hover {
  background-color: #0986a3;
}
/* line 35, ../main.sass */
#drop input {
  display: none;
}
