/*----------------------------
 *    The file upload form
 *-----------------------------
 */
/* line 6, ../main.sass */
.ace-editor {
  height: 20em;
  margin-top: 20px;
}

/* line 10, ../main.sass */
#file-upload {
  border-radius: 5px;
  margin: 0 auto;
  width: 100%;
}

/* line 15, ../main.sass */
.uploadbutton {
  background-color: #007a96;
  padding: 12px 26px;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
/* line 27, ../main.sass */
.uploadbutton:hover {
  background-color: #0986a3;
  color: white;
}

/* line 31, ../main.sass */
.drop {
  background-color: white;
  padding: 25px 0;
  border: 2px dashed #dddddd;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #dddddd;
}
/* line 40, ../main.sass */
.drop p {
  color: #0088cc;
}
/* line 42, ../main.sass */
.drop:hover, .drop.active {
  border: 2px dashed #0088cc;
  color: #0088cc;
}
/* line 45, ../main.sass */
.drop input {
  display: none;
}

/* line 49, ../main.sass */
.feedback .icon-ok {
  color: #468847;
}
